/* ::::: http://kkkkuingggg.5d6d.net/caches/tempcaches/ee/kkkkuingggg/style_1_common.css?Td7 ::::: */

* { word-wrap: break-word; }
body { background: /*url('bodybg.gif') repeat-x scroll 0pt 90px*/ rgb(13, 35, 69); text-align: center; }
body, td, input, textarea, select, button { color: rgb(68, 68, 68); font: 14px/1.6em Verdana,Helvetica,Arial,sans-serif; }
input, select, button { vertical-align: middle; }
body, ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ul li { list-style: none outside none; }
a { text-decoration: none; color: rgb(0, 0, 0); }
a:hover { text-decoration: underline; }
.lightlink, .lightlink a { color: rgb(0, 153, 204); }
a img { border: medium none; }
em, cite, strong, th { text-align: left; font-style: normal; }
table { empty-cells: show; border-collapse: collapse; }
th { font-weight: 400; }
.noborder, .noborder td { border: medium none ! important; }
.right { float: right; }
.left { float: left; }
#ajaxwaitid { display: none; position: absolute; z-index: 100; top: 0pt; right: 0pt; width: 100px; height: 1.6em; background: none repeat scroll 0% 0% rgb(221, 0, 0); line-height: 1.6em; color: rgb(255, 255, 255); overflow: hidden; }
.s_clear:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.s_clear {  }
.wrap { text-align: left; margin: 0pt auto; }
#wrap { padding-bottom: 10px; min-height: 450px; border: 0pt solid rgb(0, 178, 232); background-color: rgb(255, 255, 255); clear: both; }
.wrap, #nav { width: 1024px; }
#header { margin-bottom: 8px; min-width: 1024px; width: 100%; border-bottom: 1px solid rgb(0, 178, 232); background: /*url('header.gif') repeat-x scroll 0pt 100%*/ rgb(0, 162, 210); }
#header .wrap { position: relative; padding: 36px 0pt 22px; }
#header h2 { float: left; }
#umenu { position: absolute; right: 0pt; top: 0pt; line-height: 20px; z-index: 9; }
#umenu a { margin: 0pt 6px; }
#umenu, #umenu a, #umenu .pipe { color: rgb(151, 242, 255); }
.content { padding: 20px 25px; }
#menu { position: absolute; right: 0pt; bottom: 0pt; height: 26px; z-index: 9; }
#menu li { display: inline; float: left; margin-left: 5px; background: url('mtabbg.gif') repeat-x scroll 0pt 100% rgb(235, 244, 253); }
#menu a { float: left; padding: 0pt 14px; height: 25px; border-style: solid; border-color: rgb(176, 228, 239); border-width: 1px 1px 0pt; background: none repeat scroll 0% 0% transparent; line-height: 25px; color: rgb(102, 102, 102); text-decoration: none; overflow: hidden; }
#menu a:hover { border-color: rgb(0, 178, 232); background-color: rgb(30, 75, 126); color: rgb(195, 211, 228); }
#menu li.current a { height: 26px; border-color: rgb(0, 178, 232); background-color: rgb(30, 75, 126); color: rgb(195, 211, 228); }
#nav { margin: -8px auto 0pt; /*background: url('icon_nav.gif') no-repeat scroll 0pt 50% transparent;*/ text-align: left; text-indent: 25px; line-height: 3em; }
#nav, #nav a { color: rgb(195, 211, 228); }
.mainbox table { width: 100%; }
.foruminfo { margin-top: 5px; line-height: 30px; }
.forumcount { margin-left: 16px; }
.pages_btns { padding: 5px 0pt 1em; line-height: 30px; }
.postbtn, .replybtn, #modopt, #modopttmp { float: left; margin-right: 10px; color: rgb(0, 153, 204); cursor: pointer; }
.postbtn, .replybtn { width: 67px; height: 30px; background: url('newtopic.gif') no-repeat scroll 0pt 0pt transparent; font-size: 14px; font-weight: 700; line-height: 28px; text-align: center; overflow: hidden; }
.postbtn a, .replybtn a { display: block; padding-left: 5px; color: rgb(255, 255, 255); letter-spacing: 5px; }
.postbtn a:hover, .replybtn a:hover { text-decoration: none; }
.list { border-top: 3px solid rgb(230, 231, 225); }
.content .list h3 { padding-left: 6px; color: rgb(102, 102, 102); line-height: 35px; }
.list td, .list th { height: 50px; padding: 6px 0pt; border-top: 1px dashed rgb(230, 231, 225); color: rgb(102, 102, 102); }
.list th { /*background: url('forum.gif') no-repeat scroll 5px 10px transparent;*/ padding-left: 45px ! important; }
.narrowlist th { vertical-align: top; }
/*.list th.new { background-image: url('forum_new.gif'); }*/
.list th h2 em { font-weight: 400; }
.list th h2 em strong { color: rgb(255, 102, 0); }
.forumnums { width: 90px; padding-right: 10px ! important; color: rgb(153, 153, 153); text-align: center; }
.forumnums em { color: rgb(0, 153, 204); }
.forumlast { width: 225px; text-align: left; }
#ad_headerbanner { float: right; margin: 5px 0pt 10px; }
.headactions { float: right; line-height: 1em; padding: 12px 0pt 0pt; }
.headactions img { vertical-align: middle; cursor: pointer; padding: 0pt 5px; }
.headactions a { margin-left: 4px; }
.mainbox .headactions { color: rgb(153, 153, 153); }
.forumlinks, .forumimglink, .forumtxtlink { padding: 6px; border-top: 1px solid rgb(230, 231, 225); }
.forumtxtlink li { float: left; margin-right: 5px; width: 8em; white-space: nowrap; overflow: hidden; }
#headsearch em { font-size: 20px; margin-right: 10px; color: rgb(0, 153, 204); }
#online h3 { font-weight: 400; }
#online h3 a, #online h3 em, #online h3 strong { font-weight: 700; }
#onlinelist {  }
#onlinelist dt, #onlinelist dd { padding: 1em; border-top: 1px solid rgb(230, 231, 225); }
#onlinelist dd ul li { float: left; margin: 4px 0pt; width: 20%; height: 14px; line-height: 14px; }
#onlinelist dt img, #onlinelist dd img { vertical-align: middle; }
#umenu .vm { margin-top: 5px; }
#umenu { margin-top: 5px; }
.vm { vertical-align: middle; }
.search_form { height: 38px; }
.search_form_px { float: left; padding: 5px 4px 4px 30px; width: 300px; height: 17px; line-height: 17px; vertical-align: middle; border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(224, 224, 224) rgb(224, 224, 224) rgb(132, 132, 132); background: url('bg_search.png') no-repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(102, 102, 102); }
.search_form_px:focus { border-color: rgb(132, 132, 132); color: rgb(51, 51, 51); -moz-box-shadow: 0pt 0pt 2px rgb(132, 132, 132); }
.search_form_pn { float: left; margin: 0pt 0pt 0pt 6px; padding: 0pt; width: 75px; height: 29px; border: medium none; background: url('bg_search.png') no-repeat scroll 0pt -51px rgb(255, 255, 255); cursor: pointer; }
.search_form_pn em { display: none; }
.search_form_keys { padding-left: 20px; height: 28px; line-height: 28px; overflow: hidden; }
.search_form_keys strong { float: left; }
.search_form_keys a { float: left; margin-right: 8px; color: rgb(0, 153, 204); white-space: nowrap; }
.foruminfo { padding: 2px 5px; line-height: 30px; border-style: solid; border-color: rgb(230, 231, 225); background: none repeat scroll 0% 0% rgb(247, 247, 247); border-width: 1px 0pt; }
.forumcount { margin-right: 16px; margin-top: 2px; }
.headsearch { margin-top: 10px; }

@media screen and (orientation: portrait) {
  #onlinelist dt, .list th h2 em, .list th p:last-child { display: none; }
  #header { min-width: unset; }
  .wrap, #nav, .forumnums, .forumlast { width: unset; }
  .content { padding: 10px; }
  .narrowlist th {
    display: inline-block;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
  }
  .list th { padding: 5px !important; }
  .list td, .list th { height: unset; }
  .content .list h3 { line-height: unset; }
  #onlinelist dd ul li { width: 25%; }
  #onlinelist dd { padding: 5px; }
}
