.t {
    white-space: pre-wrap;
    word-break: break-word;
    border: 2px solid lightgray;
    background-color: aliceblue;
    padding: 1em;
    max-width: 800px;
    margin: 2em auto;
}
b {
    background-color: lightblue;
    display: block;
    padding: 8px;
    margin-top: 1em;
}
h2 { max-width:750px; margin:1em auto; }
.t a:first-child {
    position: sticky;
    top: 0;
    background-color: lightgreen;
    padding: 8px;
}
